*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --blue: #1a2456;
    --orange-bright: #ff501c;
    --orange: #ff8b68;
    --light: #f0efed;
    --dark: #080b1b;
    --orange-light: #e5c4c0
}

body {
    background: var(--light);
    font-family: 'Prompt', sans-serif;
}

/* header styling */
header {
    margin: 15px;
    width: calc(100% - 30px);
    padding: 0.5rem 0.5rem;
    background: var(--blue);
    text-transform: uppercase;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index: 1000;
}

.logo {
    /* place logo within a tag */
    display: flex;
    align-items: center;
}

header a {
    font-size: 12px;
    color: var(--orange-light);
    font-weight: 400;
    letter-spacing: 2px;
    margin-right: 20px;
}

header a:hover {
    color: var(--orange-bright)
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-flow: row wrap;
    list-style-type: none;
}

.fa-shopping-bag {
    font-size: 1.5rem;
}

.sub-menu {
    position: absolute;
    display: none;

    background: white;
    border: 1px solid #333;
    z-index: 1000;
}

.sub-menu li {
    padding: 10px;
}

.sub-menu a {
    color: var(--dark);
    padding: 20px;
}

/* header hover */
.main-menu>li:hover .sub-menu {
    display: block;
}

.sub-menu li:hover {
    background: #d5d5d5;
}

nav li:nth-of-type(2) a:hover {
    color: white;
}

/* section 1 */
.main-img {
    width: 100%;
    height: 80vh;
    background-image: url(./images/shop-cta-xl.webp);
    background-size: 100%;
    background-size: cover;
    background-position: center;
    justify-content: flex-end;
    position: relative;
}

.main-img h1 {
    width: 30%;
    font-size: 38px;
    font-weight: 600;
    color: var(--blue);
    position: relative;
    top: 40%;
    left: 60%;
    line-height: 45px;
    letter-spacing: 3px;
}

.main-img p {
    width: 30%;
    font-size: 18px;
    color: var(--blue);
    position: relative;
    top: 40%;
    left: 60%;
    font-weight: 300;
    font-weight: lighter;

}

/* section 2 */
.main-items {
    width: 85%;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.item {
    color: var(--blue);
    width: calc(50% - 15px);
    margin-bottom: 20px;
    position: relative;
}

.item:first-of-type {
    margin-right: 30px;
}

.item:nth-of-type(3) {
    width: 100%;
}

/* image styling */
.item-img {
    width: 100%;
    height: 250px;
    background-image: url("./images/Packaging_TravelerClosedBracket1_Monogram_May20204517_d3899632-1a43-425f-a16a-1d5b968810c7.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
}

.item:nth-of-type(2) .item-img {
    background-image: url("./images/Packaging_StudioClosedBracket1_Monogram_May20204507_548446cb-17c9-4fc2-8b12-ae1b1a308a7e.webp");
}

.item:nth-of-type(3) .item-img {
    background-image: url("./images/Packaging_MasterClosedBracket1_Monogram_May20204494.webp");
}

/* image hover */
.hover {
    width: 100%;
    height: 250px;
    background-image: url(./images/Consoles_StudioBracket1_Monogram_May2020_4558_53685b21-b09f-45b0-85a2-180d6acfafac.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
}

.item:nth-of-type(3) .hover {
    width: 100%;
    height: 250px;
    background-image: url(./images/Consoles_MasterBracket1_Monogram_May2020_4555.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
}

.item-img:hover .hover {
    opacity: 1;
}

/* prices */
.sale-price {
    color: var(--orange);
}

.strike-price {
    text-decoration: line-through;
}

/* price hover */
.item a {
    background: var(--blue);
    padding: 5px 20px;
    border-radius: 30px;
    color: white;
    font-size: 0.8rem;
    display: none;
}

.item:hover a {
    display: inline-block;
}

.item:hover .price {
    display: none;
}

.item-title {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.item h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 19px;
}

.item>p {
    font-weight: 300;
    font-size: 14px;
}

/* badge */
.pre-order {
    width: 100px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: var(--orange);
    position: absolute;
    top: 13px;
    left: 100%;
    transform: translateX(-100px);

    font-size: 0.8rem;
    font-weight: 500;
    padding: 0 10px;
}

.pre-order:after {
    content: "PRE-ORDER";
}

/* section 3 */
.banner {
    background-image: url(./images/shop-banner-module.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-color: #c4c4c4;
}

.banner h1 {
    font-size: 38px;
    font-weight: 600;
    color: var(--blue);
    text-align: center;
    line-height: 45px;
    letter-spacing: 3px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.banner p {
    font-size: 18px;
    color: var(--blue);
    text-align: center;
    font-weight: 300;
    font-weight: lighter;
}

/* footer */
footer {
    width: 100%;
    height: fit-content;
    background-color: var(--blue);
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    color: var(--orange-light);
    padding-bottom: 30px;
}

footer a {
    color: var(--orange-light);
    padding: 5px;
    display: block;
}

footer div {
    width: 30%;
    text-align: center;
    padding-top: 40px;
}

footer p {
    padding: 10px;
}

footer div:first-of-type {
    width: 10%;
    margin-left: 50px;
}

/* Media Query */
@media screen and (max-width:576px) {

    header {
        margin: 0;
        width: 100%;
        flex-direction: column;
        position: sticky;

    }

    .logo {
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
    }

    .item {
        width: 100%;
    }

    .item a {
        padding: 4px 15px;
        font-size: 0.7rem;
    }

    .item:hover a {
        display: block;
    }

    .main-img {
        height: 40vh;
    }

    .main-img h1 {
        width: 40%;
        font-size: 30px;
        position: relative;
        top: 20%;
        left: 50%;
        text-shadow: 3px 3px 3px white;
    }

    .main-img p {
        width: 40%;
        font-size: 18px;
        position: relative;
        top: 20%;
        left: 50%;
        text-shadow: 1px 1px 1px white;
    }

    .item h3 {
        font-size: 16px;
    }

    .item>p {
        font-size: 13px;
    }

    .price {
        font-size: 14px;
    }

    .item:first-of-type {
        margin-right: 0px;
    }

    .banner h1 {
        font-size: 30px;
    }

    .banner p {
        font-size: 18px;
    }
}